/*
 * -------------------------------------------------
 *  FitHiC Nextflow config file
 * -------------------------------------------------
 * 
 */

// Global default params, used in configs
params {
	//path to .hic files
	hicPath='/data/scratch/DGE/DUDGE/MOPOPGEN/plaw/fithic/test_data/'
	outDir='/data/scratch/DGE/DUDGE/MOPOPGEN/plaw/fithic/fithic_juicer_version'
	resolution='1000'
	//resolution=200
	//coolPath='/data/scratch/DGE/DUDGE/MOPOPGEN/plaw/cooler/distiller_results/coolers_library/'
	//fileSuffix='.hg38.mapq_30.1000.mcool'
	//outDir='/data/scratch/DGE/DUDGE/MOPOPGEN/plaw/fithic/fithic_cooler'
	
	fdr=0.01
	washUFilter=1e-10
	distFilter=10000
	
	mappabilityPath='/data/scratch/DGE/DUDGE/MOPOPGEN/plaw/fithic/mappability'
	
	//path to juicer tools	
	juicerTools='/data/scratch/DGE/DUDGE/MOPOPGEN/plaw/programs/juicer/juicer_tools_1.22.01.jar'
	chrLensPath='/data/scratch/DGE/DUDGE/MOPOPGEN/plaw/fithic/b38.length'
	build='hg38'
	
	help=false
	
	// Boilerplate options
	//email address. set to false to disable
	email = false //'philip.law@icr.ac.uk' 
	plaintext_email = false
	monochrome_logs = false  
	tracedir = "${params.outDir}/pipeline_info"  
}
	
process {
	//scheduler options
	executor = 'slurm'
	queue = 'compute'
	//clusterOptions = " -A ${params.username}"

	// compute options [alma=8GB/cpu. lscpu Each cpu=96 threads: 2sockets, 24cores each, 2 threads each]
	cpus = '1'
	time = '48h'
    errorStrategy = 'ignore'
	//errorStrategy = "retry"
	//maxRetries = 3
	
	withLabel:process_low {
		cpus = { task.attempt <=1 ? '1' : '2' }
		memory = { task.attempt <=1 ? '8GB' : '16GB' }
		time = { task.attempt <=1 ? '48h' : '120h' }
	}
	withLabel:long_queue {
		time = '200h'
		queue = 'long-term'
		//max for long-term queue is 21 days
	}
	withLabel:high_mem {
		time = '120h'
		cpus = '4'
		queue = 'smp'
	}	
}
  

timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}
dag {
  enabled = false
  file = "${params.tracedir}/pipeline_dag.svg"
}

manifest {
  name = 'fithic_nf'
  description = 'Nextflow FitHic pipeline'
  mainScript = 'fithic.nf'
  nextflowVersion = '>=20'
  version = '1.0'
}

